<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="dynamicrows" frontName="dynamicrows">
            <module name="Surbhitest_DynamicRows"/>
        </route>
    </router>
</config>