<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="TrainingSurbhi\Car\Api\Data\CarInterface" type="TrainingSurbhi\Car\Model\Car" />

    <virtualType name="TrainingSurbhi\Car\Model\ResourceModel\Car\Car\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">car_data</argument>
            <argument name="resourceModel" xsi:type="string">TrainingSurbhi\Car\Model\ResourceModel\Car</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="car_record_car_list_data_source" xsi:type="string">TrainingSurbhi\Car\Model\ResourceModel\Car\Car\Collection</item>
            </argument>
        </arguments>
    </type>
<virtualType name="VirtualTypeName" type="Magento\Catalog\Model\ImageUploader">
   <arguments>
      <argument name="baseTmpPath" xsi:type="string">car_image</argument>
      <argument name="basePath" xsi:type="string">car_image</argument>
      <argument name="allowedExtensions" xsi:type="array">
         <item name="jpg" xsi:type="string">jpg</item>
         <item name="jpeg" xsi:type="string">jpeg</item>
         <item name="gif" xsi:type="string">gif</item>
         <item name="png" xsi:type="string">png</item>
      </argument>
   </arguments>
</virtualType>
    <type name="TrainingSurbhi\Car\Controller\Adminhtml\Car\Image\Upload">
    <arguments>
        <argument name="imageUploader" xsi:type="object">VirtualTypeName</argument>
    </arguments>
</type>
</config>